Repository hmcts/cnp-plum-frontend, pull requests merged in 2021-06, with the labels that each got.

#95 Use branch for fluxv2 imagetagging
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
Labels: ns:cnp, prd:plum, rel:plum-frontend-pr-95

#98 change of retrieving env variable in high level data setup
  app/highLevelDataSetup.js
Labels: ns:cnp, prd:plum, rel:plum-frontend-pr-98

#101 Change to original Infrastructure Library
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
Labels: ns:cnp, prd:plum, rel:plum-frontend-pr-101
